/* SCSS HEX */
$fluorescent-blue: #1df4f4ff;
$carolina-blue: #009ffdff;
$blue-ryb: #0437ffff;
$rich-black-fogra-39: #020202ff;

/* SCSS Gradient */
$gradient: linear-gradient(40deg, $fluorescent-blue, $carolina-blue, $blue-ryb);
$gradient-radial: radial-gradient(circle at 10px 50px, $fluorescent-blue 10%, $carolina-blue 70%, $blue-ryb);